<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, suscipit?
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Company</h2>
    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, suscipit?
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Support</h2>
    <svg class="icon icon--secondary collapsible__chevron">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, suscipit?
  </div>
</div>
